.content {
  grid-area: c;
}
.posts {
  color: darkred;
  padding: 10px;
}
.post{
  border: 1px solid black;
  width: 200px;
  margin: 15px;
  padding: 5px;
}
.post img{
  width: 50px;
  border-radius: 50%;
}