.image {
    min-width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://u.livelib.ru/reader/LoraDora/o/iyogfg29/o-o.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}

.image::-webkit-scrollbar {
    width: 0;
}

.heading {
    font-size: 55px;
}

.subHeading {
    font-size: 40px;
}
.text {
    font-size: 25px;
}

@media screen and (max-width: 1200px) {
    .image {
        flex-direction: row;
        align-items: center;
    }

    .heading {
        font-size: 30px;
    }

    .subHeading {
        font-size: 20px;
    }

    .text {
        padding: 0 !important;
        font-size: 18px;
        margin-bottom: 15px;
    }
}