.nav {
    grid-area: n;
}

.item a{
    text-decoration: none;
}

/* Specific styles for non-active links */
.item a.link {
    color: red;
}

/* Specific styles for active links */
.item a.link-active {
    color: orangered;
}
